.menu-top-bg{
    background-color:#333a40;
}
.menu-footer-bg
{
    background-color:#1e516e;
}
.btn-lemon-green{
    background-color: #96c93e;
}
#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 99;
}